<html>
    <head>
        <title>Static Files Auth Proxy</title>
        <link rel="stylesheet" href="/static/global/style.css">
    </head>
    <body>
        <table width="100%" height="50px">
            <tr>
                <td width="10%"><a href="/login">Login</a></td>
                <td width="10%"><a href="/logout">Logout</a></td>
                <td width="80%" class="filler"></td>
            </tr>
        </table>
        <h1>Public Page</h1>
        <div id="user-content"></div>
        <div id="admin-content"></div>
        <script src="/static/global/dynamicload.js"></script>
    </body>
</html>
