<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <h1>Login</h1>
        <p> User Credentials - user:user</p>
        <p> Admin Credentials - admin:admin</p>
        <form action="/login" method="post">
            <label for="uname">Username:</label>
            <input type="text" name="uname">
            <label for="pass">Password:</label>
            <input type="password" name="pass">
            <input type="submit" value="Submit">
        </form>
    </body>
</html>
